$/angle:bytype1 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][0]/M1H1 $/atom:imidazoles[0][0][0]/M1 $/atom:imidazoles[0][0][0]/M1H2
$/angle:bytype2 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][0]/M1H1 $/atom:imidazoles[0][0][0]/M1 $/atom:imidazoles[0][0][0]/M1H3
$/angle:bytype3 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][0]/M1H2 $/atom:imidazoles[0][0][0]/M1 $/atom:imidazoles[0][0][0]/M1H3
$/angle:bytype4 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][0]/M2H1 $/atom:imidazoles[0][0][0]/M2 $/atom:imidazoles[0][0][0]/M2H2
$/angle:bytype5 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][0]/M2H1 $/atom:imidazoles[0][0][0]/M2 $/atom:imidazoles[0][0][0]/M2H3
$/angle:bytype6 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][0]/M2H2 $/atom:imidazoles[0][0][0]/M2 $/atom:imidazoles[0][0][0]/M2H3
$/angle:bytype7 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][1]/M1H1 $/atom:imidazoles[0][0][1]/M1 $/atom:imidazoles[0][0][1]/M1H2
$/angle:bytype8 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][1]/M1H1 $/atom:imidazoles[0][0][1]/M1 $/atom:imidazoles[0][0][1]/M1H3
$/angle:bytype9 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][1]/M1H2 $/atom:imidazoles[0][0][1]/M1 $/atom:imidazoles[0][0][1]/M1H3
$/angle:bytype10 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][1]/M2H1 $/atom:imidazoles[0][0][1]/M2 $/atom:imidazoles[0][0][1]/M2H2
$/angle:bytype11 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][1]/M2H1 $/atom:imidazoles[0][0][1]/M2 $/atom:imidazoles[0][0][1]/M2H3
$/angle:bytype12 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][0][1]/M2H2 $/atom:imidazoles[0][0][1]/M2 $/atom:imidazoles[0][0][1]/M2H3
$/angle:bytype13 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][0]/M1H1 $/atom:imidazoles[0][1][0]/M1 $/atom:imidazoles[0][1][0]/M1H2
$/angle:bytype14 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][0]/M1H1 $/atom:imidazoles[0][1][0]/M1 $/atom:imidazoles[0][1][0]/M1H3
$/angle:bytype15 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][0]/M1H2 $/atom:imidazoles[0][1][0]/M1 $/atom:imidazoles[0][1][0]/M1H3
$/angle:bytype16 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][0]/M2H1 $/atom:imidazoles[0][1][0]/M2 $/atom:imidazoles[0][1][0]/M2H2
$/angle:bytype17 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][0]/M2H1 $/atom:imidazoles[0][1][0]/M2 $/atom:imidazoles[0][1][0]/M2H3
$/angle:bytype18 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][0]/M2H2 $/atom:imidazoles[0][1][0]/M2 $/atom:imidazoles[0][1][0]/M2H3
$/angle:bytype19 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][1]/M1H1 $/atom:imidazoles[0][1][1]/M1 $/atom:imidazoles[0][1][1]/M1H2
$/angle:bytype20 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][1]/M1H1 $/atom:imidazoles[0][1][1]/M1 $/atom:imidazoles[0][1][1]/M1H3
$/angle:bytype21 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][1]/M1H2 $/atom:imidazoles[0][1][1]/M1 $/atom:imidazoles[0][1][1]/M1H3
$/angle:bytype22 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][1]/M2H1 $/atom:imidazoles[0][1][1]/M2 $/atom:imidazoles[0][1][1]/M2H2
$/angle:bytype23 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][1]/M2H1 $/atom:imidazoles[0][1][1]/M2 $/atom:imidazoles[0][1][1]/M2H3
$/angle:bytype24 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[0][1][1]/M2H2 $/atom:imidazoles[0][1][1]/M2 $/atom:imidazoles[0][1][1]/M2H3
$/angle:bytype25 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][0]/M1H1 $/atom:imidazoles[1][0][0]/M1 $/atom:imidazoles[1][0][0]/M1H2
$/angle:bytype26 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][0]/M1H1 $/atom:imidazoles[1][0][0]/M1 $/atom:imidazoles[1][0][0]/M1H3
$/angle:bytype27 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][0]/M1H2 $/atom:imidazoles[1][0][0]/M1 $/atom:imidazoles[1][0][0]/M1H3
$/angle:bytype28 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][0]/M2H1 $/atom:imidazoles[1][0][0]/M2 $/atom:imidazoles[1][0][0]/M2H2
$/angle:bytype29 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][0]/M2H1 $/atom:imidazoles[1][0][0]/M2 $/atom:imidazoles[1][0][0]/M2H3
$/angle:bytype30 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][0]/M2H2 $/atom:imidazoles[1][0][0]/M2 $/atom:imidazoles[1][0][0]/M2H3
$/angle:bytype31 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][1]/M1H1 $/atom:imidazoles[1][0][1]/M1 $/atom:imidazoles[1][0][1]/M1H2
$/angle:bytype32 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][1]/M1H1 $/atom:imidazoles[1][0][1]/M1 $/atom:imidazoles[1][0][1]/M1H3
$/angle:bytype33 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][1]/M1H2 $/atom:imidazoles[1][0][1]/M1 $/atom:imidazoles[1][0][1]/M1H3
$/angle:bytype34 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][1]/M2H1 $/atom:imidazoles[1][0][1]/M2 $/atom:imidazoles[1][0][1]/M2H2
$/angle:bytype35 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][1]/M2H1 $/atom:imidazoles[1][0][1]/M2 $/atom:imidazoles[1][0][1]/M2H3
$/angle:bytype36 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][0][1]/M2H2 $/atom:imidazoles[1][0][1]/M2 $/atom:imidazoles[1][0][1]/M2H3
$/angle:bytype37 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][0]/M1H1 $/atom:imidazoles[1][1][0]/M1 $/atom:imidazoles[1][1][0]/M1H2
$/angle:bytype38 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][0]/M1H1 $/atom:imidazoles[1][1][0]/M1 $/atom:imidazoles[1][1][0]/M1H3
$/angle:bytype39 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][0]/M1H2 $/atom:imidazoles[1][1][0]/M1 $/atom:imidazoles[1][1][0]/M1H3
$/angle:bytype40 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][0]/M2H1 $/atom:imidazoles[1][1][0]/M2 $/atom:imidazoles[1][1][0]/M2H2
$/angle:bytype41 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][0]/M2H1 $/atom:imidazoles[1][1][0]/M2 $/atom:imidazoles[1][1][0]/M2H3
$/angle:bytype42 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][0]/M2H2 $/atom:imidazoles[1][1][0]/M2 $/atom:imidazoles[1][1][0]/M2H3
$/angle:bytype43 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][1]/M1H1 $/atom:imidazoles[1][1][1]/M1 $/atom:imidazoles[1][1][1]/M1H2
$/angle:bytype44 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][1]/M1H1 $/atom:imidazoles[1][1][1]/M1 $/atom:imidazoles[1][1][1]/M1H3
$/angle:bytype45 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][1]/M1H2 $/atom:imidazoles[1][1][1]/M1 $/atom:imidazoles[1][1][1]/M1H3
$/angle:bytype46 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][1]/M2H1 $/atom:imidazoles[1][1][1]/M2 $/atom:imidazoles[1][1][1]/M2H2
$/angle:bytype47 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][1]/M2H1 $/atom:imidazoles[1][1][1]/M2 $/atom:imidazoles[1][1][1]/M2H3
$/angle:bytype48 @/angle:OPLSAA/046_013_046 $/atom:imidazoles[1][1][1]/M2H2 $/atom:imidazoles[1][1][1]/M2 $/atom:imidazoles[1][1][1]/M2H3
$/angle:bytype49 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/M1 $/atom:imidazoles[0][0][0]/M1H1
$/angle:bytype50 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/M1 $/atom:imidazoles[0][0][0]/M1H2
$/angle:bytype51 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/M1 $/atom:imidazoles[0][0][0]/M1H3
$/angle:bytype52 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][0]/N3 $/atom:imidazoles[0][0][0]/M2 $/atom:imidazoles[0][0][0]/M2H1
$/angle:bytype53 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][0]/N3 $/atom:imidazoles[0][0][0]/M2 $/atom:imidazoles[0][0][0]/M2H2
$/angle:bytype54 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][0]/N3 $/atom:imidazoles[0][0][0]/M2 $/atom:imidazoles[0][0][0]/M2H3
$/angle:bytype55 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/M1 $/atom:imidazoles[0][0][1]/M1H1
$/angle:bytype56 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/M1 $/atom:imidazoles[0][0][1]/M1H2
$/angle:bytype57 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/M1 $/atom:imidazoles[0][0][1]/M1H3
$/angle:bytype58 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][1]/N3 $/atom:imidazoles[0][0][1]/M2 $/atom:imidazoles[0][0][1]/M2H1
$/angle:bytype59 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][1]/N3 $/atom:imidazoles[0][0][1]/M2 $/atom:imidazoles[0][0][1]/M2H2
$/angle:bytype60 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][0][1]/N3 $/atom:imidazoles[0][0][1]/M2 $/atom:imidazoles[0][0][1]/M2H3
$/angle:bytype61 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/M1 $/atom:imidazoles[0][1][0]/M1H1
$/angle:bytype62 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/M1 $/atom:imidazoles[0][1][0]/M1H2
$/angle:bytype63 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/M1 $/atom:imidazoles[0][1][0]/M1H3
$/angle:bytype64 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][0]/N3 $/atom:imidazoles[0][1][0]/M2 $/atom:imidazoles[0][1][0]/M2H1
$/angle:bytype65 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][0]/N3 $/atom:imidazoles[0][1][0]/M2 $/atom:imidazoles[0][1][0]/M2H2
$/angle:bytype66 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][0]/N3 $/atom:imidazoles[0][1][0]/M2 $/atom:imidazoles[0][1][0]/M2H3
$/angle:bytype67 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/M1 $/atom:imidazoles[0][1][1]/M1H1
$/angle:bytype68 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/M1 $/atom:imidazoles[0][1][1]/M1H2
$/angle:bytype69 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/M1 $/atom:imidazoles[0][1][1]/M1H3
$/angle:bytype70 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][1]/N3 $/atom:imidazoles[0][1][1]/M2 $/atom:imidazoles[0][1][1]/M2H1
$/angle:bytype71 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][1]/N3 $/atom:imidazoles[0][1][1]/M2 $/atom:imidazoles[0][1][1]/M2H2
$/angle:bytype72 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[0][1][1]/N3 $/atom:imidazoles[0][1][1]/M2 $/atom:imidazoles[0][1][1]/M2H3
$/angle:bytype73 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/M1 $/atom:imidazoles[1][0][0]/M1H1
$/angle:bytype74 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/M1 $/atom:imidazoles[1][0][0]/M1H2
$/angle:bytype75 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/M1 $/atom:imidazoles[1][0][0]/M1H3
$/angle:bytype76 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][0]/N3 $/atom:imidazoles[1][0][0]/M2 $/atom:imidazoles[1][0][0]/M2H1
$/angle:bytype77 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][0]/N3 $/atom:imidazoles[1][0][0]/M2 $/atom:imidazoles[1][0][0]/M2H2
$/angle:bytype78 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][0]/N3 $/atom:imidazoles[1][0][0]/M2 $/atom:imidazoles[1][0][0]/M2H3
$/angle:bytype79 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/M1 $/atom:imidazoles[1][0][1]/M1H1
$/angle:bytype80 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/M1 $/atom:imidazoles[1][0][1]/M1H2
$/angle:bytype81 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/M1 $/atom:imidazoles[1][0][1]/M1H3
$/angle:bytype82 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][1]/N3 $/atom:imidazoles[1][0][1]/M2 $/atom:imidazoles[1][0][1]/M2H1
$/angle:bytype83 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][1]/N3 $/atom:imidazoles[1][0][1]/M2 $/atom:imidazoles[1][0][1]/M2H2
$/angle:bytype84 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][0][1]/N3 $/atom:imidazoles[1][0][1]/M2 $/atom:imidazoles[1][0][1]/M2H3
$/angle:bytype85 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/M1 $/atom:imidazoles[1][1][0]/M1H1
$/angle:bytype86 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/M1 $/atom:imidazoles[1][1][0]/M1H2
$/angle:bytype87 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/M1 $/atom:imidazoles[1][1][0]/M1H3
$/angle:bytype88 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][0]/N3 $/atom:imidazoles[1][1][0]/M2 $/atom:imidazoles[1][1][0]/M2H1
$/angle:bytype89 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][0]/N3 $/atom:imidazoles[1][1][0]/M2 $/atom:imidazoles[1][1][0]/M2H2
$/angle:bytype90 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][0]/N3 $/atom:imidazoles[1][1][0]/M2 $/atom:imidazoles[1][1][0]/M2H3
$/angle:bytype91 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/M1 $/atom:imidazoles[1][1][1]/M1H1
$/angle:bytype92 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/M1 $/atom:imidazoles[1][1][1]/M1H2
$/angle:bytype93 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/M1 $/atom:imidazoles[1][1][1]/M1H3
$/angle:bytype94 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][1]/N3 $/atom:imidazoles[1][1][1]/M2 $/atom:imidazoles[1][1][1]/M2H1
$/angle:bytype95 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][1]/N3 $/atom:imidazoles[1][1][1]/M2 $/atom:imidazoles[1][1][1]/M2H2
$/angle:bytype96 @/angle:OPLSAA/046_013_057 $/atom:imidazoles[1][1][1]/N3 $/atom:imidazoles[1][1][1]/M2 $/atom:imidazoles[1][1][1]/M2H3
$/angle:bytype97 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][0][0]/C5 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/C2
$/angle:bytype98 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][0][0]/C4 $/atom:imidazoles[0][0][0]/N3 $/atom:imidazoles[0][0][0]/C2
$/angle:bytype99 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][0][1]/C5 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/C2
$/angle:bytype100 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][0][1]/C4 $/atom:imidazoles[0][0][1]/N3 $/atom:imidazoles[0][0][1]/C2
$/angle:bytype101 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][1][0]/C5 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/C2
$/angle:bytype102 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][1][0]/C4 $/atom:imidazoles[0][1][0]/N3 $/atom:imidazoles[0][1][0]/C2
$/angle:bytype103 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][1][1]/C5 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/C2
$/angle:bytype104 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[0][1][1]/C4 $/atom:imidazoles[0][1][1]/N3 $/atom:imidazoles[0][1][1]/C2
$/angle:bytype105 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][0][0]/C5 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/C2
$/angle:bytype106 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][0][0]/C4 $/atom:imidazoles[1][0][0]/N3 $/atom:imidazoles[1][0][0]/C2
$/angle:bytype107 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][0][1]/C5 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/C2
$/angle:bytype108 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][0][1]/C4 $/atom:imidazoles[1][0][1]/N3 $/atom:imidazoles[1][0][1]/C2
$/angle:bytype109 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][1][0]/C5 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/C2
$/angle:bytype110 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][1][0]/C4 $/atom:imidazoles[1][1][0]/N3 $/atom:imidazoles[1][1][0]/C2
$/angle:bytype111 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][1][1]/C5 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/C2
$/angle:bytype112 @/angle:OPLSAA/082_057_084 $/atom:imidazoles[1][1][1]/C4 $/atom:imidazoles[1][1][1]/N3 $/atom:imidazoles[1][1][1]/C2
$/angle:bytype113 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/C2 $/atom:imidazoles[0][0][0]/C2H
$/angle:bytype114 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][0][0]/C2H $/atom:imidazoles[0][0][0]/C2 $/atom:imidazoles[0][0][0]/N3
$/angle:bytype115 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/C2 $/atom:imidazoles[0][0][1]/C2H
$/angle:bytype116 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][0][1]/C2H $/atom:imidazoles[0][0][1]/C2 $/atom:imidazoles[0][0][1]/N3
$/angle:bytype117 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/C2 $/atom:imidazoles[0][1][0]/C2H
$/angle:bytype118 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][1][0]/C2H $/atom:imidazoles[0][1][0]/C2 $/atom:imidazoles[0][1][0]/N3
$/angle:bytype119 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/C2 $/atom:imidazoles[0][1][1]/C2H
$/angle:bytype120 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[0][1][1]/C2H $/atom:imidazoles[0][1][1]/C2 $/atom:imidazoles[0][1][1]/N3
$/angle:bytype121 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/C2 $/atom:imidazoles[1][0][0]/C2H
$/angle:bytype122 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][0][0]/C2H $/atom:imidazoles[1][0][0]/C2 $/atom:imidazoles[1][0][0]/N3
$/angle:bytype123 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/C2 $/atom:imidazoles[1][0][1]/C2H
$/angle:bytype124 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][0][1]/C2H $/atom:imidazoles[1][0][1]/C2 $/atom:imidazoles[1][0][1]/N3
$/angle:bytype125 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/C2 $/atom:imidazoles[1][1][0]/C2H
$/angle:bytype126 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][1][0]/C2H $/atom:imidazoles[1][1][0]/C2 $/atom:imidazoles[1][1][0]/N3
$/angle:bytype127 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/C2 $/atom:imidazoles[1][1][1]/C2H
$/angle:bytype128 @/angle:OPLSAA/049_082_057 $/atom:imidazoles[1][1][1]/C2H $/atom:imidazoles[1][1][1]/C2 $/atom:imidazoles[1][1][1]/N3
$/angle:bytype129 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/C2 $/atom:imidazoles[0][0][0]/N3
$/angle:bytype130 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/C2 $/atom:imidazoles[0][0][1]/N3
$/angle:bytype131 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/C2 $/atom:imidazoles[0][1][0]/N3
$/angle:bytype132 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/C2 $/atom:imidazoles[0][1][1]/N3
$/angle:bytype133 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/C2 $/atom:imidazoles[1][0][0]/N3
$/angle:bytype134 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/C2 $/atom:imidazoles[1][0][1]/N3
$/angle:bytype135 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/C2 $/atom:imidazoles[1][1][0]/N3
$/angle:bytype136 @/angle:OPLSAA/057_082_057 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/C2 $/atom:imidazoles[1][1][1]/N3
$/angle:bytype137 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][0][0]/N1 $/atom:imidazoles[0][0][0]/C5 $/atom:imidazoles[0][0][0]/C5H
$/angle:bytype138 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][0][1]/N1 $/atom:imidazoles[0][0][1]/C5 $/atom:imidazoles[0][0][1]/C5H
$/angle:bytype139 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][1][0]/N1 $/atom:imidazoles[0][1][0]/C5 $/atom:imidazoles[0][1][0]/C5H
$/angle:bytype140 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][1][1]/N1 $/atom:imidazoles[0][1][1]/C5 $/atom:imidazoles[0][1][1]/C5H
$/angle:bytype141 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][0][0]/N1 $/atom:imidazoles[1][0][0]/C5 $/atom:imidazoles[1][0][0]/C5H
$/angle:bytype142 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][0][1]/N1 $/atom:imidazoles[1][0][1]/C5 $/atom:imidazoles[1][0][1]/C5H
$/angle:bytype143 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][1][0]/N1 $/atom:imidazoles[1][1][0]/C5 $/atom:imidazoles[1][1][0]/C5H
$/angle:bytype144 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][1][1]/N1 $/atom:imidazoles[1][1][1]/C5 $/atom:imidazoles[1][1][1]/C5H
$/angle:bytype145 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][0][0]/C4H $/atom:imidazoles[0][0][0]/C4 $/atom:imidazoles[0][0][0]/N3
$/angle:bytype146 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][0][1]/C4H $/atom:imidazoles[0][0][1]/C4 $/atom:imidazoles[0][0][1]/N3
$/angle:bytype147 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][1][0]/C4H $/atom:imidazoles[0][1][0]/C4 $/atom:imidazoles[0][1][0]/N3
$/angle:bytype148 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[0][1][1]/C4H $/atom:imidazoles[0][1][1]/C4 $/atom:imidazoles[0][1][1]/N3
$/angle:bytype149 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][0][0]/C4H $/atom:imidazoles[1][0][0]/C4 $/atom:imidazoles[1][0][0]/N3
$/angle:bytype150 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][0][1]/C4H $/atom:imidazoles[1][0][1]/C4 $/atom:imidazoles[1][0][1]/N3
$/angle:bytype151 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][1][0]/C4H $/atom:imidazoles[1][1][0]/C4 $/atom:imidazoles[1][1][0]/N3
$/angle:bytype152 @/angle:OPLSAA/049_084_057 $/atom:imidazoles[1][1][1]/C4H $/atom:imidazoles[1][1][1]/C4 $/atom:imidazoles[1][1][1]/N3
$/angle:bytype153 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][0][0]/C4 $/atom:imidazoles[0][0][0]/C5 $/atom:imidazoles[0][0][0]/N1
$/angle:bytype154 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][0][0]/C5 $/atom:imidazoles[0][0][0]/C4 $/atom:imidazoles[0][0][0]/N3
$/angle:bytype155 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][0][1]/C4 $/atom:imidazoles[0][0][1]/C5 $/atom:imidazoles[0][0][1]/N1
$/angle:bytype156 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][0][1]/C5 $/atom:imidazoles[0][0][1]/C4 $/atom:imidazoles[0][0][1]/N3
$/angle:bytype157 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][1][0]/C4 $/atom:imidazoles[0][1][0]/C5 $/atom:imidazoles[0][1][0]/N1
$/angle:bytype158 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][1][0]/C5 $/atom:imidazoles[0][1][0]/C4 $/atom:imidazoles[0][1][0]/N3
$/angle:bytype159 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][1][1]/C4 $/atom:imidazoles[0][1][1]/C5 $/atom:imidazoles[0][1][1]/N1
$/angle:bytype160 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[0][1][1]/C5 $/atom:imidazoles[0][1][1]/C4 $/atom:imidazoles[0][1][1]/N3
$/angle:bytype161 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][0][0]/C4 $/atom:imidazoles[1][0][0]/C5 $/atom:imidazoles[1][0][0]/N1
$/angle:bytype162 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][0][0]/C5 $/atom:imidazoles[1][0][0]/C4 $/atom:imidazoles[1][0][0]/N3
$/angle:bytype163 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][0][1]/C4 $/atom:imidazoles[1][0][1]/C5 $/atom:imidazoles[1][0][1]/N1
$/angle:bytype164 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][0][1]/C5 $/atom:imidazoles[1][0][1]/C4 $/atom:imidazoles[1][0][1]/N3
$/angle:bytype165 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][1][0]/C4 $/atom:imidazoles[1][1][0]/C5 $/atom:imidazoles[1][1][0]/N1
$/angle:bytype166 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][1][0]/C5 $/atom:imidazoles[1][1][0]/C4 $/atom:imidazoles[1][1][0]/N3
$/angle:bytype167 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][1][1]/C4 $/atom:imidazoles[1][1][1]/C5 $/atom:imidazoles[1][1][1]/N1
$/angle:bytype168 @/angle:OPLSAA/057_084_084 $/atom:imidazoles[1][1][1]/C5 $/atom:imidazoles[1][1][1]/C4 $/atom:imidazoles[1][1][1]/N3
